.hover {
    transition: var(--transition-property) var(--transition-duration-micro-medium) var(--transition-timing-function);

    &:hover {
        transform: translateX(var(--static-space-4));
    }
}

@media (--s) {
    .textAlign {
        text-align: center;
    }

    .blockAlign {
        align-self: center;
    }
}

.flexContainer {
    margin-left: 200px;

    @media (max-width: 768px) { // Ganti breakpoint sesuai kebutuhan
        margin-left: 0;
    }
}

.top {
    margin-top: 128px;

    @media (max-width: 768px) { // Ganti breakpoint sesuai kebutuhan
        margin-top: 0;
    }
}

.imagetop {
    margin-top: 0px;

    @media (max-width: 768px) {
        margin-top: 15px;
    }
}

.rightleft {
    padding-right: 0px;
    padding-left: 0px;

    @media (max-width: 768px) {
        padding-right: 25px;
        padding-left: 25px;
    }
}

